@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #1A1A1A;
  --text: #FFFFFF;
  --accent: #00BFFF;
  --hover: #FF69B4;
  --button: #FFFFFF;
  --button-text: #1A1A1A;
}

.light {
  --background: #FFFFFF;
  --text: #1A1A1A;
  --accent: #00BFFF;
  --hover: #FF69B4;
  --button: #1A1A1A;
  --button-text: #FFFFFF;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
}

@keyframes bg-pulse {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-bg-pulse {
  background-size: 200% 200%;
  animation: bg-pulse 10s ease infinite;
}